.bottomBtn {
  position: sticky;
  top: 100%;
}

.anythingg{
  position: relative;
  max-height: 73.5vh;
  overflow-y: scroll;
}
.anythingg::-webkit-scrollbar {
  display: none;
}
.mobileName{
  text-transform: capitalize;
}
.emptyCart{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}