.bottomBtn {
  position: sticky;
  top: 100%;
}

.anythingg{
  position: relative;
  min-height: 80.5vh;
}
.mobileName{
  text-transform: capitalize;
}
.emptyCart{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}