.bottomBtn {
  position: sticky;
  top: 100%;
  font-weight: 500 !important;
}

.anything {
  position: relative;
  height: 65vh;
  overflow-y: scroll;
}

.mobileName{
  text-transform: capitalize;
}

